@import "../../variables";
.table {
  border-collapse: collapse;
  text-align: left;
}
.th {
  background: @color-background;
}
.td,
.th {
  padding: 5px;
  border: @border-regular;
}
.footer {
  position: relative;
  padding: 5px 0;
}

.paging {
  margin: 0 200px;
}
.prev {
  border: @border-regular;
  background: none;
}
.next {

}
.current {

}
.page {

}

.quantity {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  border: @border-regular;
  border-right: none;
}
.btn {
  background: none;
  border-right: @border-regular;
}
.btn:hover, .btn:focus {
  background: @color-hover;
}
.btn:active {
  background: @color-active;
}
/*.current {*/

/*}*/